@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway.ttf");
}

@font-face {
    font-family: "Lato Light";
    src: url("./fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("./fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./fonts/IBMPlexMono-Regular.ttf");
}

body {
    background-color: #243447;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #E0E0E0;

    font-family: "Lato Light";
    font-variant-numeric: tabular-nums;

    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
}

main {
    flex: 1 0 auto;
    padding: 32px 64px;

    display: flex;
    flex-direction: column;

    gap: 32px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 32px;
}

h1 {
    font-family: "Raleway";
    font-variant-numeric: tabular-nums;
    font-size: 36px;

    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #E0E0E0;
    cursor: pointer;
}

button {
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background-color: #3B5166;
    height: 64px;
    width: 64px;
    border-radius: 50%;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35),
        0 1px 1px rgba(255, 255, 255, 0.05);
}

button:hover {
    box-shadow: 0 0 6px rgba(46, 134, 222, 0.4);
}

button:active {
    transform: translateY(1px);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

#calculator {
    background-color: #2c3e50;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 20px;
    width: 300px;

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4), 0 0 20px rgba(74, 144, 226, 0.25);
}

#display {
    background-color: #34495E;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.14);
    height: 100px;
    border-radius: 16px;

    padding: 8px 16px;

    text-align: right;

    font-family: "IBM Plex Mono";

    display: flex;
    flex-direction: column;
    gap: 10px;

    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4),
        inset 0 -2px 2px rgba(255, 255, 255, 0.05);
}

#calcDisplay {
    font-size: 42px;
}

#calcDisplayHistory {
    height: 16px;
    opacity: 0.75;

    font-size: 25px;
}

#keyboard {
    flex-wrap: nowrap;
    padding-top: 16px;
}

#footerText {
    font-size: 16px;
}

#attribution {
    font-size: 16px;
}

.buttonsPlacement {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 20px;
    font-weight: 400;

    color: #E0E0E0;
}

.utilityBtn {
    background-color: #465766;
}

.keyboardBtn {
    background-color: #3B5166;
}

.operatorBtn {
    background-color: #426B88;
}

#equalBtn {
    background-color: #1E6FB2;
}